main_menu.json
[{"id":"e93cac29.fb14f","type":"exec","z":"2dfcb718.c953c8","command":"/home/pi/workspace/gpio_test/toggle_gpio.py","addpay":true,"append":"","useSpawn":true,"timer":"","name":"","x":520,"y":220,"wires":[["a6fbd9.207a9428"],[],[]]},{"id":"a6fbd9.207a9428","type":"ui_text","z":"2dfcb718.c953c8","group":"c347b52.3a21648","order":1,"width":0,"height":0,"name":"Front yard Text","label":"","format":"{{msg.payload}}","layout":"row-spread","x":741,"y":149.5,"wires":[]},{"id":"11861d56.336bd3","type":"ui_dropdown","z":"2dfcb718.c953c8","name":"Duration","label":"Water Duration","group":"c347b52.3a21648","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"15 sec","value":"15","type":"str"},{"label":"30 sec","value":"30","type":"str"},{"label":"45 sec","value":"45","type":"str"},{"label":"60 sec","value":"60","type":"str"}],"payload":"","topic":"","x":146,"y":161.5,"wires":[["4a6222fd.a1fc6c"]]},{"id":"4a6222fd.a1fc6c","type":"function","z":"2dfcb718.c953c8","name":"Trigger Area 1","func":"if(msg.payload == \"Trigger\") {\n    var duration = context.get('duration')||1;\n    var msg = {payload : duration + \" area1\"};\n    return msg;\n}\nelse {\n    var duration = context.get('duration')||1;\n    context.set('duration',msg.payload);\n    return 0;\n}","outputs":"1","noerr":0,"x":371,"y":146.5,"wires":[["e93cac29.fb14f","9a949e22.1c0ca"]]},{"id":"f712db4f.265738","type":"ui_button","z":"2dfcb718.c953c8","name":"Front Yard Lawn Button","group":"c347b52.3a21648","order":3,"width":0,"height":0,"label":"Water Lawn","color":"","icon":"","payload":"Trigger","payloadType":"str","topic":"","x":156,"y":115.5,"wires":[["4a6222fd.a1fc6c"]]},{"id":"845cba9d.cb7c98","type":"ui_text","z":"2dfcb718.c953c8","group":"9c1c2526.4e1898","order":1,"width":0,"height":0,"name":"Backyard Text","label":"","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":420,"wires":[]},{"id":"780b02e5.cae8ac","type":"ui_button","z":"2dfcb718.c953c8","name":"Backyard Button","group":"9c1c2526.4e1898","order":0,"width":0,"height":0,"label":"Water Lawn","color":"","icon":"","payload":"Trigger","payloadType":"str","topic":"","x":131,"y":404,"wires":[["4b56cc7b.3c6964"]]},{"id":"4b56cc7b.3c6964","type":"function","z":"2dfcb718.c953c8","name":"Trigger Area 2","func":"if(msg.payload == \"Trigger\") {\n    var duration = context.get('duration')||1;\n    var msg = {payload : duration + \" area2\"};\n    return msg;\n}\nelse {\n    var duration = context.get('duration')||1;\n    context.set('duration',msg.payload);\n    return 0;\n}","outputs":"1","noerr":0,"x":362,"y":422,"wires":[["20cff02c.6dedc","2cf19419.986bdc"]]},{"id":"29d51243.75583e","type":"ui_dropdown","z":"2dfcb718.c953c8","name":"Duration","label":"Water Duration","group":"9c1c2526.4e1898","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"15 sec","value":"15","type":"str"},{"label":"30 sec","value":"30","type":"str"},{"label":"45 sec","value":"45","type":"str"},{"label":"60 sec","value":"60","type":"str"}],"payload":"","topic":"","x":163,"y":445,"wires":[["4b56cc7b.3c6964"]]},{"id":"20cff02c.6dedc","type":"exec","z":"2dfcb718.c953c8","command":"/home/pi/workspace/gpio_test/toggle_gpio.py","addpay":true,"append":"","useSpawn":true,"timer":"","name":"","x":530,"y":508,"wires":[["845cba9d.cb7c98"],[],[]]},{"id":"b64d4e58.b677e","type":"ui_text","z":"2dfcb718.c953c8","group":"9d06fff5.163ca","order":1,"width":0,"height":0,"name":"Side Lawn Text","label":"","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":760,"wires":[]},{"id":"4aaedb2a.8d1ab4","type":"ui_button","z":"2dfcb718.c953c8","name":"Side Lawn Button","group":"9d06fff5.163ca","order":0,"width":0,"height":0,"label":"Water Lawn","color":"","icon":"","payload":"Trigger","payloadType":"str","topic":"","x":144,"y":731,"wires":[["265a6722.1b7738"]]},{"id":"265a6722.1b7738","type":"function","z":"2dfcb718.c953c8","name":"Trigger Area 3","func":"if(msg.payload == \"Trigger\") {\n    var duration = context.get('duration')||1;\n    var msg = {payload : duration + \" area3\"};\n    return msg;\n}\nelse {\n    var duration = context.get('duration')||1;\n    context.set('duration',msg.payload);\n    return 0;\n}","outputs":"1","noerr":0,"x":342,"y":762,"wires":[["4dce1163.85db9","d80516b5.a07aa8"]]},{"id":"11dfb365.7d6fed","type":"ui_dropdown","z":"2dfcb718.c953c8","name":"Duration","label":"Water Duration","group":"9d06fff5.163ca","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"15 sec","value":"15","type":"str"},{"label":"30 sec","value":"30","type":"str"},{"label":"45 sec","value":"45","type":"str"},{"label":"60 sec","value":"60","type":"str"}],"payload":"","topic":"","x":130,"y":776,"wires":[["265a6722.1b7738"]]},{"id":"4dce1163.85db9","type":"exec","z":"2dfcb718.c953c8","command":"/home/pi/workspace/gpio_test/toggle_gpio.py","addpay":true,"append":"","useSpawn":true,"timer":"","name":"","x":510,"y":848,"wires":[["b64d4e58.b677e"],[],[]]},{"id":"1effcb35.3b2695","type":"ui_text","z":"2dfcb718.c953c8","group":"213f3a83.e4a736","order":1,"width":0,"height":0,"name":"Gangway Text","label":"","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":1060,"wires":[]},{"id":"58743cea.1e9334","type":"ui_button","z":"2dfcb718.c953c8","name":"Gangway Button","group":"213f3a83.e4a736","order":0,"width":0,"height":0,"label":"Water Lawn","color":"","icon":"","payload":"Trigger","payloadType":"str","topic":"","x":129,"y":1037,"wires":[["a8257ee5.a319d"]]},{"id":"a8257ee5.a319d","type":"function","z":"2dfcb718.c953c8","name":"Trigger Area 4","func":"if(msg.payload == \"Trigger\") {\n    var duration = context.get('duration')||1;\n    var msg = {payload : duration + \" area4\"};\n    return msg;\n}\nelse {\n    var duration = context.get('duration')||1;\n    context.set('duration',msg.payload);\n    return 0;\n}","outputs":"1","noerr":0,"x":342,"y":1062,"wires":[["a9b3578c.eb95f8","aadd7ae0.e17e68"]]},{"id":"b4862b7.026d6d8","type":"ui_dropdown","z":"2dfcb718.c953c8","name":"Duration","label":"Water Duration","group":"213f3a83.e4a736","order":2,"width":0,"height":0,"passthru":false,"options":[{"label":"15 sec","value":"15","type":"str"},{"label":"30 sec","value":"30","type":"str"},{"label":"45 sec","value":"45","type":"str"},{"label":"60 sec","value":"60","type":"str"}],"payload":"","topic":"","x":152,"y":1084,"wires":[["a8257ee5.a319d"]]},{"id":"a9b3578c.eb95f8","type":"exec","z":"2dfcb718.c953c8","command":"/home/pi/workspace/gpio_test/toggle_gpio.py","addpay":true,"append":"","useSpawn":true,"timer":"","name":"","x":510,"y":1148,"wires":[["1effcb35.3b2695"],[],[]]},{"id":"2cf19419.986bdc","type":"debug","z":"2dfcb718.c953c8","name":"","active":false,"console":"false","complete":"payload","x":556,"y":377,"wires":[]},{"id":"9a949e22.1c0ca","type":"debug","z":"2dfcb718.c953c8","name":"","active":false,"console":"false","complete":"payload","x":552,"y":97.5,"wires":[]},{"id":"d80516b5.a07aa8","type":"debug","z":"2dfcb718.c953c8","name":"","active":false,"console":"false","complete":"payload","x":548,"y":718,"wires":[]},{"id":"aadd7ae0.e17e68","type":"debug","z":"2dfcb718.c953c8","name":"","active":false,"console":"false","complete":"payload","x":538,"y":1027,"wires":[]},{"id":"1fdbc29.3d2703d","type":"comment","z":"2dfcb718.c953c8","name":"Area 2 Control Logic","info":"","x":460,"y":300,"wires":[]},{"id":"7cd5b7ff.dcbef8","type":"comment","z":"2dfcb718.c953c8","name":"Area 3 Control Logic","info":"","x":430,"y":640,"wires":[]},{"id":"51629bdf.433074","type":"comment","z":"2dfcb718.c953c8","name":"Area 4 Control Logic","info":"","x":430,"y":960,"wires":[]},{"id":"74d3e9b4.f0c408","type":"comment","z":"2dfcb718.c953c8","name":"Area 1 Control Logic","info":"","x":450,"y":40,"wires":[]},{"id":"c347b52.3a21648","type":"ui_group","z":"","name":"Front Yard Lawn","tab":"37ca3b4b.d36304","order":1,"disp":true,"width":"6"},{"id":"9c1c2526.4e1898","type":"ui_group","z":"2dfcb718.c953c8","name":"Backyard Lawn","tab":"37ca3b4b.d36304","order":2,"disp":true,"width":"6"},{"id":"9d06fff5.163ca","type":"ui_group","z":"2dfcb718.c953c8","name":"Side Yard Lawn","tab":"37ca3b4b.d36304","order":3,"disp":true,"width":"6"},{"id":"213f3a83.e4a736","type":"ui_group","z":"2dfcb718.c953c8","name":"Gangway Lawn","tab":"37ca3b4b.d36304","order":4,"disp":true,"width":"6"},{"id":"37ca3b4b.d36304","type":"ui_tab","z":"2dfcb718.c953c8","name":"Main Menu","icon":"dashboard","order":1}]